.create-outfit-inventory .header{
  margin: 0;
}

.create-outfit-inventory{
  margin-top: 13px;
}

.create-outfit-inventory div .list{
  background-color: #e0e0e0;
}
.outfit-divider{
  border-bottom: 2px solid #1a1d4e;
  border-top: 2px solid #1a1d4e;
  font-size: 24px;
  margin-top: 5px;
}

.outfit-chosen{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  box-sizing: border-box;
}

.chosen-sweater,
.chosen-top,
.chosen-bottom,
.chosen-shoes,
.chosen-outerwear,
.chosen-dress{
  width: 200px;
  box-sizing: border-box;
  margin: 5px;
  color: white;
  position: relative;
}

.chosen-sweater img,
.chosen-top img,
.chosen-bottom img,
.chosen-shoes img,
.chosen-outerwear img,
.chosen-dress img{
  width: 100%;
  object-fit: contain;
  border: 1px solid #1a1d4e;
}


.mid-section{
  width: 33.33%;
  border: 1px solid #1a1d4e;
  margin: 5px 0px;

}

.new-outfit-form label{
  padding: 0px;
}

.new-outfit-form button{
  width: auto;
  margin-top: 5px;
}

.add-item-title.outfit input{
  box-sizing: border-box;
  margin: 10px 0px;
}

.add-item-plus-outfit{
  position: absolute;
  cursor: pointer;
  background-color: #1a1d4e;
  color: white;
  box-sizing: border-box;
  padding: 2px;
  left: 0;
  top: 0;
}

.item-pic{
  position: relative;
}

.fa-minus-square{
  position: absolute;
  top: 6px;
  right: 6px;
  color: #1a1d4e;
}

.outfit-errors{
  font-size: 14px;
  color: red;
  padding: 0;
  margin: 0;

}

.outfit-errors::before{
  content: "* "
}

.header img{
  height: 24px;
  box-sizing: border-box;
  padding: 13px 0 0 10px;
}
