.header{
  text-align: left;
}

.list{
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.item{
  width: 100px;
  border: 1px solid  #1a1d4e;
  margin-right: 15px;
  object-fit: contain;
}

.item-container {
  margin-bottom: 5px;

}
.inv-item-details{
  text-align: left;
  font-size: 12px;
  width: 150px;
  border-top: 1px solid #1a1d4e;
  border-right: 1px solid #1a1d4e;
  border-bottom: 1px solid #1a1d4e;
  margin-left: -15px;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.list .item-container, .footer{
  display: flex;
}

.footer{
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 5px;
  /* position: absolute; */
  right: 0;
}
