.header{
  text-align: left;
}

.list{
  display: flex;
  overflow-x: auto;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 0 5px;
  border: 1px solid #1a1d4e;
  border-radius: 4px;
}

.item{
  width: 100px;
  height: 100%;
  border: 1px solid  #1a1d4e;
  box-sizing: border-box;
  margin-right: 15px;
  object-fit: contain;
  background-color: white;
}

.item-container {
  margin: 5px 0;
  height: 150px;
}
.inv-item-details{
  text-align: left;
  font-size: 12px;
  width: 150px;
  border-top: 1px solid #1a1d4e;
  border-right: 1px solid #1a1d4e;
  border-bottom: 1px solid #1a1d4e;
  margin-left: -15px;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: #1a1d4e;
}


.list .item-container, .footer{
  display: flex;
}

.footer{
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 5px;
  /* position: absolute; */
  right: 0;
}

.outerwear-list h3{
  margin: 19px 0 2px 0;
}

.sweater-list h3,
.top-list h3,
.dress-list h3,
.bottom-list h3,
.shoe-list h3{
  margin: 15px 0 2px 0;
}

.sweater-list .list,
.top-list .list,
.dress-list .list,
.bottom-list .list,
.shoe-list .list,
.outerwear-list .list{
  background-color: #e0e0e0;
}
