/* TODO Add site wide styles */
@media screen and (max-width: 450px){
  #root {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 97vh;
    background-color: white;
    border: 1px solid black;
  }

  .login-signup-title{
    width: 414px;
  }
}

body {
  font-family: Lora;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(224, 224, 224);
}
#root {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 97vh;
  background-color: white;
  border: 1px solid black;
}

.content{
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 25px 80px;
}

.login-signup-title{
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100vw;
  padding-top: 100px;
  font-family: Lakki Reddy, cursive;
  white-space: pre-wrap;
  margin: 0;
}

div a{
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

select {
  text-align-last: center;
  color: #1a1d4e;
  font-weight: bold;
  border: 1px solid #1a1d4e;
  border-radius: 4px;
}

label input{
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #1a1d4e;
  border-radius: 4px;
}

label input::placeholder{
  font-style: italic;
  color: #1a1d4e;

}

input[type=text]:focus,
textarea:focus{
  border: 2px solid #1a1d4e;
  outline: none;
}

textarea{
  border: 1px solid #1a1d4e;
  border-radius: 4px;
}
