/* TODO Add site wide styles */
@media screen and (max-width: 450px){
  #root {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 97vh;
    background-color: white;
    border: 1px solid black;
  }

  .login-signup-title{
    width: 414px;
  }
}

body {
  font-family: Lora;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(196, 255, 199, 0.815);
}
#root {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 97vh;
  background-color: white;
  border: 1px solid black;
}

.content{
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;


}
.login-signup-title{
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100vw;
  padding-top: 100px;
  font-family: Lakki Reddy, cursive;
  white-space: pre-wrap;
  margin: 0;
}

div a{
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
