.login-container img{
  width: 100%;
  height: 97vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;

}


.login-form,
.signup-redirect,
.signup-login button,
.signup-form,
.login-redirect{
  z-index: 100;
}

.content.signup-login{
  align-items: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #1a1d4e;
  border-top: 1px solid #1a1d4e;
  border-right: 1px solid #1a1d4e;
  background-color: white;
  box-sizing: border-box;
  padding: 5px;
}

.signup-redirect{
  border-left: 1px solid #1a1d4e;
  border-right: 1px solid #1a1d4e;
  border-bottom: 1px solid #1a1d4e;
  background-color: white;
  width: 185px;
  padding: 10px 0px;
}

.login-errors{
  font-size: 12px;
  color: red;
  white-space: pre-wrap;
}
.main-title{
  white-space: pre-wrap;
  font-family: Lakki Reddy;
  font-size: 36px;
  position: absolute;
  z-index: 99;
  top: 60px;
  text-shadow: 0px 0px 5px white;
  margin: 0;
}

.signup-login{
  justify-content: center;
}
