.profile-dropdown {
  position: absolute;
}

.side-title{
  position: absolute;
  width: 90px;
  color: #1a1d4e;
  margin: 10px 0 0 4px;
  z-index: 300;
  text-align: center;
  font-family: Lora;
  font-size: 22px;
  background-color: white;
  cursor: pointer;
}

.side-title i{
  color: #1a1d4e;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.sidebar{
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 97vh;
  width: 80px;
  border-right: 1px solid;
  padding: 0px 15px 0px 8px;
}

.sidebar button{
  width: auto;
}

.fas {
  color: black;
}

.view-items {
  margin-top: 80px;
}


.create-outfit{
  padding-top: 10px;
  margin-left: 9px;
}

.create-item{
  margin-left: 9px;
}

.static-logo{
  font-size: 24px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 5px;
  /* margin-bottom: -30px; */
  color: #1a1d4e;
}

.credits{
  color: #1a1d4e;
  text-align: center;
  font-size: 12px;
  width: 104px;
  margin-left: 6px;
}

.view-items:hover,
.view-outfits:hover,
.profile:hover{
  margin-left: 5px;
}

.create-item:hover,
.create-outfit:hover{
  margin-left: 14px;
}


.credits:hover,
.credits a:hover{
  color: white;
  background-color: #1a1d4e;
}
